
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="~/Content/adminpage/img/favicon.png">

    <title>Administrator</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/adminpage/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/adminpage/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/adminpage/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/adminpage/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="~/Content/adminpage/stylesheet" href="css/owl.carousel.css" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/Content/adminpage/css/style.css" rel="stylesheet">
    <link href="~/Content/adminpage/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <section id="container">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            @*<a href="index.html" class="logo">Flat<span>lab</span></a>*@
            <a href="~/Admin/User/Index" class="logo"><img height="30" src="~/Content/minimal/theme/assets/img/logo3.png" alt="Bilgi Sözlük" /></a>
         
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                  
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <li>
                        <input type="text" class="form-control search" placeholder="Ara">
                    </li>
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src="img/avatar1_small.jpg">
                            <span class="username">Admin Sayfası</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            @*<li><a href="#"><i class=" icon-suitcase"></i>Profile</a></li>
                            <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                            <li><a href="#"><i class="icon-bell-alt"></i> Notification</a></li>*@
                            <li><a href="login.html"><i class="icon-key"></i> Çıkış Yap</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                   
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-laptop"></i>
                            <span>Üyeler</span>
                        </a>
                        <ul class="sub">
                            <li><a href="~/Admin/User/List">Kullanıcı Listesi</a></li>                           
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-book"></i>
                            <span>Entry'ler</span>
                        </a>
                        <ul class="sub">
                            <li><a href="~/Admin/Entry/List">Listele</a></li>
                            <li><a href="~/Admin/Entry/Add">Ekle</a></li>   
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            <span>Kategoriler (Topic)</span>
                        </a>
                        <ul class="sub">
                            <li><a href="~/Admin/Topic/List">Listele</a></li>
                            <li><a href="~/Admin/Topic/Add">Ekle</a></li>                           
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-tasks"></i>
                            <span>Başlıklar (Header)</span>
                        </a>
                        <ul class="sub">
                            <li><a href="~/Admin/Header/List">Listele</a></li>
                            <li><a href="~/Admin/Header/Add">Ekle</a></li>                      
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-th"></i>
                            <span>Kullanıcı Rolleri</span>
                        </a>
                        <ul class="sub">
                            <li><a href="~/Admin/UserRole/List">Listele</a></li>
                            <li><a href="~/Admin/UserRole/Add">Ekle</a></li>      
                        </ul>
                    </li>
                  
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
       <section class="wrapper">
           @RenderBody()
       </section>
        </section>
        <!--main content end-->
        <!--footer start-->
        @*<footer class="site-footer">
            <div class="text-center">
                2013 &copy; FlatLab by VectorLab.
                <a href="#" class="go-top">
                    <i class="icon-angle-up"></i>
                </a>
            </div>
        </footer>*@
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Content/adminpage/js/jquery.js"></script>
    <script src="~/Content/adminpage/js/jquery-1.8.3.min.js"></script>
    <script src="~/Content/adminpage/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/Content/adminpage/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Content/adminpage/js/jquery.scrollTo.min.js"></script>
    <script src="~/Content/adminpage/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Content/adminpage/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/Content/adminpage/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Content/adminpage/js/owl.carousel.js"></script>
    <script src="~/Content/adminpage/js/jquery.customSelect.min.js"></script>
    <script src="~/Content/adminpage/js/respond.min.js"></script>

    <script class="include" type="text/javascript" src="~/Content/adminpage/js/jquery.dcjqaccordion.2.7.js"></script>

    <!--common script for all pages-->
    <script src="~/Content/adminpage/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="~/Content/adminpage/js/sparkline-chart.js"></script>
    <script src="~/Content/adminpage/js/easy-pie-chart.js"></script>
    <script src="~/Content/adminpage/js/count.js"></script>

    <script>

      //owl carousel

      $(document).ready(function() {
          $("#owl-demo").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true,
			  autoPlay:true

          });
      });

      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

    </script>

</body>
</html>
